<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" id="jetpack_css-css" href="./assets/css/style.css" media="all"/>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<title>Document</title>
</head>
<body>

<div class="SVGdefinition">
	<svg display="none" @mouseover="onGreenArrow">
		<defs>
			<symbol id="green-arrows" class="arrow" >
				<g>
					<path class="inner-color" d="M10.8,101.5c-4,0-7.4-2.3-8.9-6.1C0.5,91.7,1.4,87.7,4.4,85L93.6,3.5c1.8-1.6,4-2.5,6.4-2.5s4.7,0.9,6.4,2.5L195.6,85c3,2.7,3.9,6.7,2.5,10.5c-1.5,3.7-4.8,6.1-8.9,6.1H10.8z"/>
					<path d="M100,1.5c2.3,0,4.4,0.8,6.1,2.4l89.2,81.5c3.4,3.1,3.4,7.1,2.3,9.9s-3.8,5.7-8.4,5.7H10.8c-4.5,0-7.3-3-8.4-5.7s-1-6.8,2.3-9.9L93.9,3.9C95.6,2.4,97.7,1.5,100,1.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
					<path class="outer-color" d="M100,5.5c1.3,0,2.4,0.5,3.4,1.3l89.2,81.5c2.3,2.1,1.6,4.8,1.3,5.5c-0.3,0.7-1.5,3.2-4.7,3.2H10.8c-3.2,0-4.4-2.4-4.7-3.2c-0.3-0.7-1.1-3.4,1.3-5.5L96.6,6.8C97.6,6,98.7,5.5,100,5.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
				</g>
			</symbol>
		</defs>
	</svg>
	<svg display="none">
		<defs>
			<symbol id="red-arrows" class="arrow" >
				<g>
					<path class="inner-color" d="M10.8,101.5c-4,0-7.4-2.3-8.9-6.1C0.5,91.7,1.4,87.7,4.4,85L93.6,3.5c1.8-1.6,4-2.5,6.4-2.5s4.7,0.9,6.4,2.5L195.6,85c3,2.7,3.9,6.7,2.5,10.5c-1.5,3.7-4.8,6.1-8.9,6.1H10.8z"/>
					<path d="M100,1.5c2.3,0,4.4,0.8,6.1,2.4l89.2,81.5c3.4,3.1,3.4,7.1,2.3,9.9s-3.8,5.7-8.4,5.7H10.8c-4.5,0-7.3-3-8.4-5.7s-1-6.8,2.3-9.9L93.9,3.9C95.6,2.4,97.7,1.5,100,1.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
					<path class="outer-color" d="M100,5.5c1.3,0,2.4,0.5,3.4,1.3l89.2,81.5c2.3,2.1,1.6,4.8,1.3,5.5c-0.3,0.7-1.5,3.2-4.7,3.2H10.8c-3.2,0-4.4-2.4-4.7-3.2c-0.3-0.7-1.1-3.4,1.3-5.5L96.6,6.8C97.6,6,98.7,5.5,100,5.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
				</g>
			</symbol>
		</defs>
	</svg>
	<svg display="none">
		<defs>
			<symbol id="blue-arrows" class="arrow" >
				<g>
					<path class="inner-color" d="M10.8,101.5c-4,0-7.4-2.3-8.9-6.1C0.5,91.7,1.4,87.7,4.4,85L93.6,3.5c1.8-1.6,4-2.5,6.4-2.5s4.7,0.9,6.4,2.5L195.6,85c3,2.7,3.9,6.7,2.5,10.5c-1.5,3.7-4.8,6.1-8.9,6.1H10.8z"/>
					<path d="M100,1.5c2.3,0,4.4,0.8,6.1,2.4l89.2,81.5c3.4,3.1,3.4,7.1,2.3,9.9s-3.8,5.7-8.4,5.7H10.8c-4.5,0-7.3-3-8.4-5.7s-1-6.8,2.3-9.9L93.9,3.9C95.6,2.4,97.7,1.5,100,1.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
					<path class="outer-color" d="M100,5.5c1.3,0,2.4,0.5,3.4,1.3l89.2,81.5c2.3,2.1,1.6,4.8,1.3,5.5c-0.3,0.7-1.5,3.2-4.7,3.2H10.8c-3.2,0-4.4-2.4-4.7-3.2c-0.3-0.7-1.1-3.4,1.3-5.5L96.6,6.8C97.6,6,98.7,5.5,100,5.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
				</g>
			</symbol>
		</defs>
	</svg>
	<svg display="none">
		<defs>
			<symbol id="yellow-arrows" class="arrow" >
				<g>
					<path class="inner-color" d="M10.8,101.5c-4,0-7.4-2.3-8.9-6.1C0.5,91.7,1.4,87.7,4.4,85L93.6,3.5c1.8-1.6,4-2.5,6.4-2.5s4.7,0.9,6.4,2.5L195.6,85c3,2.7,3.9,6.7,2.5,10.5c-1.5,3.7-4.8,6.1-8.9,6.1H10.8z"/>
					<path d="M100,1.5c2.3,0,4.4,0.8,6.1,2.4l89.2,81.5c3.4,3.1,3.4,7.1,2.3,9.9s-3.8,5.7-8.4,5.7H10.8c-4.5,0-7.3-3-8.4-5.7s-1-6.8,2.3-9.9L93.9,3.9C95.6,2.4,97.7,1.5,100,1.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
					<path class="outer-color" d="M100,5.5c1.3,0,2.4,0.5,3.4,1.3l89.2,81.5c2.3,2.1,1.6,4.8,1.3,5.5c-0.3,0.7-1.5,3.2-4.7,3.2H10.8c-3.2,0-4.4-2.4-4.7-3.2c-0.3-0.7-1.1-3.4,1.3-5.5L96.6,6.8C97.6,6,98.7,5.5,100,5.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
				</g>
			</symbol>
		</defs>
	</svg>
	<svg display="none">
		<defs>
			<symbol id="template-arrows" class="arrow" >
				<g>
					<path class="inner-color" d="M10.8,101.5c-4,0-7.4-2.3-8.9-6.1C0.5,91.7,1.4,87.7,4.4,85L93.6,3.5c1.8-1.6,4-2.5,6.4-2.5s4.7,0.9,6.4,2.5L195.6,85c3,2.7,3.9,6.7,2.5,10.5c-1.5,3.7-4.8,6.1-8.9,6.1H10.8z"/>
					<path d="M100,1.5c2.3,0,4.4,0.8,6.1,2.4l89.2,81.5c3.4,3.1,3.4,7.1,2.3,9.9s-3.8,5.7-8.4,5.7H10.8c-4.5,0-7.3-3-8.4-5.7s-1-6.8,2.3-9.9L93.9,3.9C95.6,2.4,97.7,1.5,100,1.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
					<path class="outer-color" d="M100,5.5c1.3,0,2.4,0.5,3.4,1.3l89.2,81.5c2.3,2.1,1.6,4.8,1.3,5.5c-0.3,0.7-1.5,3.2-4.7,3.2H10.8c-3.2,0-4.4-2.4-4.7-3.2c-0.3-0.7-1.1-3.4,1.3-5.5L96.6,6.8C97.6,6,98.7,5.5,100,5.5 M100,0.5c-2.4,0-4.8,0.9-6.7,2.6L4,84.6c-6.7,6.2-2.4,17.4,6.7,17.4h178.4c9.1,0,13.5-11.2,6.7-17.4L106.7,3.2C104.8,1.4,102.4,0.5,100,0.5L100,0.5z"/>
				</g>
			</symbol>
		</defs>
	</svg>
</div>

<!-- マウスカーソルをVueで動かすところから！！！！！ -->
<div id="app" @mousemove="moveCursor" >
	<div class="cursor"  v-bind:style="{ top: top + 'px', left: left + 'px', height: height + 'px', width: width + 'px' }">
		<div class="cursor__container">
			<div class="cursor__dot dot-red"></div>
			<div class="cursor__dot dot-green"></div>
			<div class="cursor__dot dot-yellow"></div>
			<div class="cursor__dot dot-blue"></div>
		</div>
	</div>
	<section class="section top">
		<div class="content">
			<div class="top">
				<div class="text-center">WELCOME!!!!!<br>Nozomi Kawakami's portforio</div>
			</div>		
		</div>
		<div class="pageLink full-view-port" >
			<div class="green-arrow-link arrow-link js-green-arrow-link" >
				<svg id="green-arrow-SVG" class="arrow-SVG" viewBox="0 0 236.2 118.7" >
					<g>
						<path id="green-arrow__top" class="grn-st0 visibility-hidden" d="M93.3,114.7c-1.5,0-3.1-0.4-4.5-1.2L8.5,67.1C5.7,65.5,4,62.5,4,59.3s1.7-6.1,4.5-7.7L88.8,5.2C90.2,4.4,91.8,4,93.3,4s3.1,0.4,4.5,1.2c2.8,1.6,4.5,4.5,4.5,7.7v92.8c0,3.2-1.7,6.1-4.5,7.7C96.4,114.3,94.8,114.7,93.3,114.7z"/>
						<circle id="green-arrow__middle" class="grn-st0 visibility-hidden" cx="140.7" cy="59.2" r="26"/>
						<circle id="green-arrow__end" class="grn-st0 visibility-hidden" cx="204.7" cy="59.2" r="26"/>
					</g>
					<g>
						<circle id="green-arrow__subject1" class="grn-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="green-arrow__subject2" class="grn-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="green-arrow__subject3" class="grn-st1" cx="113.2" cy="58.9" r="51.2"/>
						<text transform="matrix(1 0 0 1 81.5946 61.6169)" id="green-arrow__text" class="grn-st2 grn-st3 grn-st4">contact</text>
					</g>
				</svg>
			</div>
			<div class="red-arrow-link" >
				<svg id="red-arrow-SVG" class="arrow-SVG" viewBox="0 0 236.2 118.7" >
					<g>
						<path id="red-arrow__top" class="red-st0 visibility-hidden" d="M93.3,114.7c-1.5,0-3.1-0.4-4.5-1.2L8.5,67.1C5.7,65.5,4,62.5,4,59.3s1.7-6.1,4.5-7.7L88.8,5.2C90.2,4.4,91.8,4,93.3,4s3.1,0.4,4.5,1.2c2.8,1.6,4.5,4.5,4.5,7.7v92.8c0,3.2-1.7,6.1-4.5,7.7C96.4,114.3,94.8,114.7,93.3,114.7z"/>
						<circle id="red-arrow__middle" class="red-st0 visibility-hidden" cx="140.7" cy="59.2" r="26"/>
						<circle id="red-arrow__end" class="red-st0 visibility-hidden" cx="204.7" cy="59.2" r="26"/>
					</g>
					<g>
						<circle id="red-arrow__subject1" class="red-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="red-arrow__subject2" class="red-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="red-arrow__subject3" class="red-st1" cx="113.2" cy="58.9" r="51.2"/>
						<text transform="matrix(1 0 0 1 81.5946 61.6169)" id="red-arrow__text" class="red-st2 red-st3 red-st4">contact</text>
					</g>
				</svg>
			</div>
			<div class="blue-arrow-link" >
				<svg id="blue-arrow-SVG" class="arrow-SVG" viewBox="0 0 236.2 118.7" >
					<g>
						<path id="blue-arrow__top" class="blue-st0 visibility-hidden" d="M93.3,114.7c-1.5,0-3.1-0.4-4.5-1.2L8.5,67.1C5.7,65.5,4,62.5,4,59.3s1.7-6.1,4.5-7.7L88.8,5.2C90.2,4.4,91.8,4,93.3,4s3.1,0.4,4.5,1.2c2.8,1.6,4.5,4.5,4.5,7.7v92.8c0,3.2-1.7,6.1-4.5,7.7C96.4,114.3,94.8,114.7,93.3,114.7z"/>
						<circle id="blue-arrow__middle" class="blue-st0 visibility-hidden" cx="140.7" cy="59.2" r="26"/>
						<circle id="blue-arrow__end" class="blue-st0 visibility-hidden" cx="204.7" cy="59.2" r="26"/>
					</g>
					<g>
						<circle id="blue-arrow__subject1" class="blue-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="blue-arrow__subject2" class="blue-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="blue-arrow__subject3" class="blue-st1" cx="113.2" cy="58.9" r="51.2"/>
						<text transform="matrix(1 0 0 1 81.5946 61.6169)" id="blue-arrow__text" class="blue-st2 blue-st3 blue-st4">contact</text>
					</g>
				</svg>
			</div>
			<div class="yellow-arrow-link" >
				<svg id="yellow-arrow-SVG" class="arrow-SVG" viewBox="0 0 236.2 118.7" >
					<g>
						<path id="yellow-arrow__top" class="yellow-st0 visibility-hidden" d="M93.3,114.7c-1.5,0-3.1-0.4-4.5-1.2L8.5,67.1C5.7,65.5,4,62.5,4,59.3s1.7-6.1,4.5-7.7L88.8,5.2C90.2,4.4,91.8,4,93.3,4s3.1,0.4,4.5,1.2c2.8,1.6,4.5,4.5,4.5,7.7v92.8c0,3.2-1.7,6.1-4.5,7.7C96.4,114.3,94.8,114.7,93.3,114.7z"/>
						<circle id="yellow-arrow__middle" class="yellow-st0 visibility-hidden" cx="140.7" cy="59.2" r="26"/>
						<circle id="yellow-arrow__end" class="yellow-st0 visibility-hidden" cx="204.7" cy="59.2" r="26"/>
					</g>
					<g>
						<circle id="yellow-arrow__subject1" class="yellow-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="yellow-arrow__subject2" class="yellow-st1" cx="113.2" cy="58.9" r="51.2"/>
						<circle id="yellow-arrow__subject3" class="yellow-st1" cx="113.2" cy="58.9" r="51.2"/>
						<text transform="matrix(1 0 0 1 81.5946 61.6169)" id="yellow-arrow__text" class="yellow-st2 yellow-st3 yellow-st4">contact</text>
					</g>
				</svg>
			</div>










		</div>
	</section>
	<section class="section about">
		<div>
			<div container="text-container">
				<h2>ABOUT見出し</h2>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
		</div>
	</section>
	<section class="section career">
		<div>
			<div container="text-container">
				<h2>CAREER見出し</h2>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
		</div>		
	</section>
	<section class="section works">
		<div>
			<div container="text-container">
				<h2>WORKS見出し</h2>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
		</div>
	</section>
	<section class="section contact">
		<div>
			<div container="text-container">
				<h2>CONTACT見出し</h2>
				<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
			</div>
		</div>
	</section>
</div>	
<div id="canvas-container">
	<canvas id="canvas"></canvas>
</div>


<script src="/assets/js/index.js"></script>
</body>
</html>
