@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html { font-size: 62.5%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-size: 1.0rem;
}
ol, ul {
  list-style: none;
}
textarea {
  resize: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

body {
  position: relative;
  cursor: none;
}
/////////////////reset css///////////////////////

.definition{
  display: none;
}

// .inner-color{
//   fill:#FFF;
// }

// #green-arrows .outer-color{
//   fill:#A1D782;
// }

// #red-arrows .outer-color{
//   fill:#FF6347;
// }
// #blue-arrows .outer-color{
//   fill:#1E90FF;
// }
// #yellow-arrows .outer-color{
//   fill:#f8eb3c;
// }

//////////////////svg definition///////////////////////



.text-center{
  text-align: center;
}

.visibility-hidden{
  visibility:hidden;
}


.full-view-port{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.cursor{
  position: absolute;
  cursor: none;
  pointer-events: none;
  animation: spin 1.5s linear infinite;
  z-index: 1500;
}

.cursor {
  pointer-events: none;
}

.cursor__container{
  position: relative;
  width: 100%;
  height: 100%;
}

.cursor__dot{
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
}
.dot{
  &-red{
    background-color: #FF6347;
    top: calc(0% - 4px);
    left: calc(0% - 4px);
  }
  &-green{
    background-color: #a1d782;
    top: calc(100% - 4px);
    left: calc(0% - 4px);
  }
  &-yellow{
    background-color: #f8eb3c;
    top: calc(0% - 4px);
    left: calc(100% - 4px);
  }
  &-blue{
    background-color: #1E90FF;
    top: calc(100% - 3px);
    left: calc(100% - 3px);
  }
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.arrow{
  width: 3rem;
  height: 3rem;
}

////////////////////リンク用
.pageLink{
  display: grid;
  grid-template-rows: 25vh 50vh 25vh;
  grid-template-columns:  25vw 50vw 25vw;
}

.arrow-container{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  position: relative;
}

.arrow-SVG{
  width: max-content;
}

.arrow-link{
  z-index: 1000;
  position: absolute;
}

///////////green arrow
.green-arrow-link{
  top: calc(50% - 76px);
  left: calc(0% - 150px);
  transform: rotate(0deg);
}

.grn-st0{fill:#A1D782;stroke:#A1D782;stroke-width:5;stroke-miterlimit:10;}
.grn-st1{fill:#FFFFFF;stroke:#A1D782;stroke-width:5;stroke-miterlimit:10;}
.grn-st2{fill:#A1D782;}
.grn-st3{font-family:'HiraKakuStd-W8-83pv-RKSJ-H';}
.grn-st4{font-size:14.1627px;font-weight: 900;}
.grn-st5{transition: all 300ms 0s ease;}



///////////red arrow
.red-arrow-link{
  top: calc(50% - 76px);
  left: calc(100% - 150px);
  transform: rotate(180deg);
}

.red-st0{fill:#FF6347;stroke:#FF6347;stroke-width:5;stroke-miterlimit:10;}
.red-st1{fill:#FFFFFF;stroke:#FF6347;stroke-width:5;stroke-miterlimit:10;}
.red-st2{fill:#FF6347;}
.red-st3{font-family:'HiraKakuStd-W8-83pv-RKSJ-H';}
.red-st4{font-size:14.1627px;font-weight: 900;}
.red-st5{transition: all 300ms 0s ease;}

///////////blue arrow
.blue-arrow-link{
  top: calc(100% - 76px);
  left: calc(50% - 150px);
  transform: rotate(270deg);
}

.blue-st0{fill:#1E90FF;stroke:#1E90FF;stroke-width:5;stroke-miterlimit:10;}
.blue-st1{fill:#FFFFFF;stroke:#1E90FF;stroke-width:5;stroke-miterlimit:10;}
.blue-st2{fill:#1E90FF;}
.blue-st3{font-family:'HiraKakuStd-W8-83pv-RKSJ-H';}
.blue-st4{font-size:14.1627px;font-weight: 900;}
.blue-st5{transition: all 300ms 0s ease;}

///////////yellow arrow
.yellow-arrow-link{
  top: calc(0% - 76px);
  left: calc(50% - 150px);
  transform: rotate(90deg);
}

.yellow-st0{fill:#f8eb3c;stroke:#f8eb3c;stroke-width:5;stroke-miterlimit:10;}
.yellow-st1{fill:#FFFFFF;stroke:#f8eb3c;stroke-width:5;stroke-miterlimit:10;}
.yellow-st2{fill:#f8eb3c;}
.yellow-st3{font-family:'HiraKakuStd-W8-83pv-RKSJ-H';}
.yellow-st4{font-size:14.1627px;font-weight: 900;}
.yellow-st5{transition: all 300ms 0s ease;}


.transition-all {
transition: all .5 ease;
}

#green-arrow__top{
visibility:hidden;
}
#green-arrow__middle{
visibility:hidden;  
}
#green-arrow__end{
visibility:hidden;  
}

.content{
  width: 40rem;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: calc(50vh - 10rem);
}

.top{
  width: 100%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


#canvas{
  position: absolute;
  top: 0;
  left: 0;
  widows: 100%;
  height: 100%;
}

#canvas-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section{
  width: 100vw;
  height: 100vh;
}


path {
  cursor: pointer;
}
